body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    max-width: 1500px;
}

.container-one ,.text-and-image, .container-two, .container-three {
   padding: 10px 100px;
   
}

.container-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.links {
    display: flex;
    align-items: center;
    font-size: 18px;
    
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    color: #F9FAF8;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.text-and-image {
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 350px;
}

.image {
    width: 400px;
    height: auto;
    padding: 50px;
}

p {
    font-size: 18px;
    width: 350px;
}

.hero-and-button {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.button {
    width:100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    border: 0;
}

.container-two {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    
    
  
}

.random-info {
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.boxes {
    display: flex;
    justify-content: space-between;

    
}

.pic {
    width: 250px; 
    height: auto;
    border-radius: 8px;
    
}

.box {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    
}

.box-text {
    display: flex;
    width: 250px;
    padding-bottom: 50px;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote{
    width: 800px;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;    
}

.quote-by {
    margin-left: 600px;
    color: #1f2937;    
    font-size: 24px;
    font-weight: bold;
}